FLASK_ENV=development
SECRET_KEY=dev-secret

DB_USER=root            # Usuário do MariaDB
DB_PASSWORD=1234        # Senha do Usuário
DB_HOST=localhost       # Endereço do Servidor
DB_PORT=3306            # Porta
DB_NAME=match_estagios  # Nome do Banco de Dados
